.about-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 4fr 8fr;
    border: 2px solid red;
}

#about {
    height: 300vh;
}

#about .section-title-container {
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 38%;
}

.about-container {
    display: grid;
    grid-template-rows: 9fr 3fr;
    align-items: center;
    background-image: linear-gradient(to top, white 0%, black 0%);
}

.about-big {
    font-size: 3rem;
    text-align: center;
    padding: 0 10%;
    mix-blend-mode: difference;
}

.about-small {
    color: black;
    text-align: center;
    font-family: 'NeueHaasDisplayMedium';
    width: 25rem;
    justify-self: end;
    margin-right: 2rem;
}