:root {
    --artist-width: 400px;
}

.section-title-container:first-of-type {
    justify-content: flex-end;
    padding: 5rem 20% 5rem 0;
}

.cooperations-wrapper {
    display: flex;
    padding-bottom: 6rem;
    transform: translateX(0);
}

.artists-container {
    display: flex;
    gap: 6rem;
}

.artist {
    width: var(--artist-width);
    height: var(--artist-width);
    border: 3px solid var(--white-color);
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transform: scale(1);
    position: relative;
}

.artist-description {
    width: 12.5rem;
    height: 4rem;
    padding: 1rem;
    background-color: rgb(20, 19, 19);
    border: 2px solid var(--white-color);
    position: absolute;
    bottom: -20px;
    right: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-description h5,
.artist-description h6 {
    color: var(--white-color);
}

.artist-description h5 {
    font-size: 1.375rem;
}

.artist-description h6 {
    font-size: 1rem;
}

.fake-element {
    width: calc((100vw - var(--artist-width)) / 2);
    flex-shrink: 0;
}


/* MAX-HEIGHT MEDIA QUERIES */
@media screen and (max-height: 680px) {
    .section-title-container:first-of-type {
        justify-content: flex-end;
        padding: 1rem 10% 3rem 0;
    }
}

@media screen and (max-height: 580px) {
    :root {
        --artist-width: 280px;
    }

    .artists-container {
        gap: 3rem;
    }
}

@media screen and (max-height: 460px) {
    :root {
        --artist-width: 180px;
    }

    .artists-container {
        gap: 3rem;
    }
}

/* PORTRAIT MEDIA QUERIES */
@media screen and (max-width: 480px) and (orientation: portrait) {
    .section-title-container:first-of-type {
        justify-content: flex-start;
        padding: 3rem 0 6rem 1rem;
    }

    :root {
        --artist-width: 320px;
    }

    .artists-container {
        gap: 4rem;
    }
}