:root {
    --heading-size: clamp(3.5rem, 8vw, 6rem);
    --buttons-size: 3rem;
    --white-color: #ffffff;
    --hover-color: #e4e4e4;
    --ivgi-red: #ff0000;
}

@font-face {
    font-family: 'NeueHaasDisplayLight';
    src: url(../fonts/NeueHaasDisplayLight.woff2) format('woff2');
}

@font-face {
    font-family: 'NeueHaasDisplayMedium';
    src: url(../fonts/NeueHaasDisplayMedium.woff2) format('woff2');
}

@font-face {
    font-family: 'NeueHaasDisplayBold';
    src: url(../fonts/NeueHaasDisplayBold.woff2) format('woff2');
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    max-width: 2000px;
    margin: 0 auto;
    font-family: 'NeueHaasDisplayLight';
    color: var(--white-color);
    background-color: black;
    overflow-x: clip;
}

a, p, h1, h2, h3, h4, h5, h6, button {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

button {
    cursor: pointer;
}

.sticky-element {
    position: sticky;
    top: 0;
}

.section-title-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#landing-page {
    height: 100vh;
    background: url('../img/aztorsound-yellow.gif') 50% 50% / cover no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


h3 {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 10vw, 5rem);
}

.fake-section {
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
}