#wkndhrs {
    height: 100vh;
    border: 3px solid red;
    display: flex;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 1rem;
}

.line {
    font-family: 'NeueHaasDisplayMedium';
    letter-spacing: 0.02em;
}

.service-item {
    font-family: 'NeueHaasDisplayBold';
    font-size: 8rem;
    line-height: 1em;
}