#about {
  height: 250svh;
}

.about-wrapper {
  height: 100svh;
  display: grid;
  grid-template-rows: 30% 70%;
}

#about .section-title-container {
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 38vw;
}

#about .fluid-container {
  height: 100%;
  display: grid;
  grid-template-rows: 58fr 42fr;
  align-items: center;
  padding: 0 1rem;
}

.about-big {
  font-size: clamp(1.5rem, 3.5vw, 3rem);
  font-family: 'NeueHaasDisplayMedium';
  text-align: center;
  mix-blend-mode: difference;
}

.about-small {
  color: black;
  text-align: center;
  font-family: 'NeueHaasDisplayMedium';
  width: 25rem;
  justify-self: end;
  align-self: end;
  margin-bottom: 2rem;
}

/* MAX WIDTH MEDIA QUERIES */
@media screen and (max-width: 840px) {
  .about-small {
    justify-self: center;
  }
}

@media screen and (max-width: 680px) {
  .about-big br {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .about-small {
    width: 100%;
  }
}

/* MAX HEIGHT MEDIA QUERIES */
@media screen and (max-height: 540px) {
  .about-wrapper {
    height: 140svh;
    grid-template-rows: 4fr 10fr;
  }

  .about-big {
    margin-bottom: -44vh;
  }

  .about-small {
    margin-bottom: 1rem;
  }
}

@media screen and (max-height: 480px) {
  .about-small {
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 440px) {
  .about-big {
    font-size: clamp(1rem, 5vh, 3rem);
  }
}