:root {
  --artist-width: 400px;
}

#cooperations {
  height: 100svh;
  display: grid;
  grid-template-rows: 3fr 7fr;
  align-items: center;
}

#cooperations .section-title-container {
  padding: 0 0 0 57vw;
}

.artists-container {
  display: flex;
}

.fake-element {
  width: calc((100vw - var(--artist-width)) / 2);
  height: var(--artist-width);
  flex-shrink: 0;
}

.artists-list {
  display: flex;
  gap: 6rem;
}

.artist {
  width: var(--artist-width);
  height: var(--artist-width);
  border: 3px solid var(--white-color);
  flex-shrink: 0;
  position: relative;
  will-change: transform;
}

.artist-description {
  position: absolute;
  top: -33px;
  opacity: 1;
}

.artist-description h5 {
  color: var(--white-color);
  font-size: 2rem;
  line-height: 0.75em;
  white-space: nowrap;
}

.artist-description small {
  color: var(--ivgi-red);
  font-size: 1.2rem;
}

/* MAX WIDTH MEDIA QUERIES */
@media screen and (max-width: 800px) {
  #cooperations .section-title-container {
    padding: 0 0 0 47vw;
  }
}

@media screen and (max-width: 600px) {
  #cooperations .section-title-container {
    padding: 0 0 0 34vw;
  }
}

/* MAX HEIGHT MEDIA QUERIES */
@media screen and (max-height: 640px) {
  #cooperations {
    height: 135svh;
    grid-template-rows: 3.5fr 10fr;
  }

  #cooperations .section-title-container {
    align-self: flex-end;
    padding-bottom: 3.5svh;
  }

  .artists-list {
    margin-top: 2rem;
  }
}

@media (max-height: 500px), (max-width: 500px) {
  :root {
    --artist-width: 300px;
  }

  .artists-list {
    gap: 4rem;
  }

  .artist-description {
    top: -1.5rem;
  }

  .artist-description h5 {
    font-size: 1.5rem;
    line-height: 0.7em;
  }
  
  .artist small {
    font-size: 1rem;
  }
}

@media screen and (max-height: 400px) {
  :root {
    --artist-width: 220px;
  }

  #cooperations {
    height: 150svh;
    grid-template-rows: 5fr 10fr;
  }

  .artists-list {
    gap: 3rem;
    margin-top: 8svh;
  }
  
  .artist small {
    display: none;
  }
}