#from-nowhere {
  padding: 5rem 3rem;
}

.text-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10%;
}

.line {
  font-family: 'NeueHaasDisplayMedium';
  font-size: 1rem;
  letter-spacing: 0.02em;
  position: relative;
  white-space: nowrap;
}

.line::before {
  content: "";
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(var(--scale-value, var(--initial-scale, 1)));
  transform-origin: bottom;
}

.small-text .line:nth-child(1)  { --initial-scale: 1; }
.small-text .line:nth-child(2)  { --initial-scale: 1.16; }
.small-text .line:nth-child(3)  { --initial-scale: 1.34; }
.small-text .line:nth-child(4)  { --initial-scale: 1.53; }
.small-text .line:nth-child(5)  { --initial-scale: 1.73; }
.small-text .line:nth-child(6)  { --initial-scale: 1.95; }
.small-text .line:nth-child(7)  { --initial-scale: 2.18; }
.small-text .line:nth-child(8)  { --initial-scale: 2.43; }
.small-text .line:nth-child(9)  { --initial-scale: 2.66; }
.small-text .line:nth-child(10) { --initial-scale: 2.80; }
.small-text .line:nth-child(11) { --initial-scale: 2.86; }
.small-text .line:nth-child(12) { --initial-scale: 2.94; }
.small-text .line:nth-child(13) { --initial-scale: 3; }

.action-pillars {
  font-family: 'NeueHaasDisplayBold';
  font-size: clamp(6.25rem, 9vw, 8rem);
  line-height: 1em;
  will-change: transform;
}

#from-nowhere .section-title-container {
  padding-left: 20%;
  margin-top: 6rem;
}


/* GLOBAL 1080px */
@media screen and (max-width: 1080px) {
  .action-pillars {
    font-size: clamp(4rem, 8vw, 6rem);
  }
}

/* DESKTOP 800px */
@media screen and (max-width: 800px) and (hover: hover) and (pointer: fine) {
  .text-wrapper {
    grid-template-columns: auto;
    gap: 10svh;
  }

  .line {
    font-size: 1rem;
  }

  .action-pillars {
    font-size: clamp(4rem, 9vw, 6rem);
  }
}

/* PHONE 800px */
@media screen and (max-width: 800px) and (hover: none) and (pointer: coarse) {
  #from-nowhere {
    padding-bottom: 3rem;
  }

  .line {
    font-size: 0.7rem;
  }

  .action-pillars {
    font-size: 3.5rem;
  }
}

/* GLOBAL 440px */
@media screen and (max-width: 440px) {
  #from-nowhere {
    padding: 0;
  }

  .line {
    font-size: 0.775rem;
  }

  .action-pillars {
    font-size: clamp(2.75rem, 14vw, 4rem);
  }

  #from-nowhere .section-title-container {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
  }

  .text-wrapper {
    padding: 1rem;
  }
}

/* PHONE 440px */
@media screen and (max-width: 440px) and (hover: none) and (pointer: coarse) {
  .text-wrapper {
    grid-template-columns: auto;
    gap: 10svh;
  }
}