#who-needs-me {
  height: 600svh;
}

.who-needs-me-wrapper {
  height: 100svh;
  display: grid;
  grid-template-rows: 3fr 2fr 7fr;
  padding: 1rem 0;
}

#who-needs-me .section-title-container {
  justify-content: flex-start;
  align-items: center;
  padding-left: 44%;
}

.short-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.short-paragraph p {
  font-size: 2rem;
  text-align: center;
}

.short-paragraph b {
  font-family: 'NeueHaasDisplayBold';
}

.clients-padding-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.clients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(4.5vw, 2rem);
  max-width: 860px;
  margin: 0 auto;
  width: 100%;
}

.clients-line {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.clients-line:nth-of-type(4) { justify-content: flex-end; }

.client {
  font-size: 1.5rem;
  border: 1px solid var(--white-color);
  border-radius: 0.7em;
  padding: 0.475em 0.675em;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(0px);
  transition: transform 400ms ease-in-out, opacity 600ms ease-in-out;
}

/* MAX WIDTH MEDIA QUERIES */
@media screen and (max-width: 624px) {
  .who-needs-me-wrapper {
    grid-template-rows: repeat(3, auto);
  }

  #who-needs-me .section-title-container {
    padding-left: 28%;
  }

  .short-paragraph p {
    font-size: clamp(1rem, 5.25vw, 2rem);
  }

  .clients-line {
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 4.5vw;
  }

  .clients-line:nth-of-type(4) { justify-content: center; }

  .client {
    font-size: clamp(1rem, 4vw, 1.5rem);
  }
}






/* MAX HEIGHT MEDIA QUERIES */
/* @media screen and (max-height: 624px) {
  .who-needs-me-wrapper {
    display: grid;
    height: 150svh;
    grid-template-rows: 50svh 20svh 80svh;
    align-items: center;
  }

  .clients-line {
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .client {
    font-size: clamp(1rem, 4.5vh, 1.5rem);
    padding: 0.5em 0.75em;
    border-radius: 0.75em;
  }
} */